.emailList{
    flex:1;
    overflow:scroll;
}
.emailList_settings{
    position: sticky;
    background-color: white;
    z-index: 999;
    top:0;
    border-bottom: 1px solid whitesmoke;
    display:flex;
    justify-content: space-between;
}
.emailList__sections{
    position:sticky;
    background-color: white;
    z-index: 999;
    top:0;
    border-bottom: 1px solid whitesmoke;
    display:flex;


}
.emailList__list{
    padding-bottom: 20%;
}
